body {
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: Verdana;
  margin: 0 1rem;
}
body.blink {
  animation: blink 2s linear infinite;
}

@keyframes blink {
  49% {
    filter: grayscale(0);
  }

  50% {
    filter: grayscale(1);
  }

  100% {
    filter: grayscale(1);
  }
}

* {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 4rem;
  text-align: center;
}

.coming-soon {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.countdown {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 50vh;
  align-items: center;
  text-align: center;
  column-gap: 5em;
  margin: 0 auto;
  text-transform: uppercase;
}

.days,
.hours,
.minutes,
.seconds {
  font-size: 5rem;
  color: yellow;
  /* border: 2px solid white; */
}

@media (min-width: 900px) {
  h3.days {
    font-size: 15em;
    color: red;
  }

  .days ~ * {
    font-size: 3em;
  }
}

.dis,
.dis ~ .time-info {
  display: none;
}

button {
  margin-top: 1rem;
  padding: 2rem 0;
  display: inline-block;
  width: 50vh;
  margin: 0 auto;
  font-size: 1.5em;
  outline: none;
  background-color: rgba(41, 41, 41, 0.5);
  color: white;
  border: none;
}

img {
  max-width: 3em;
  display: inline;
  margin: 0 auto;
}

#darkoverlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}
